@page "/Question2"

<h3>Q-2 What is the component and component parameter.</h3>

<br />

<h4>Component</h4>
<p>
    Blazor app are build using components. Components are implemented in .razor component files using a combination of C# and HTML.
    Component name must always start with the upperCase letter. members of the component class are defined under the function section.
    We can include the one component into the other.
</p>

<h4>Component Parameter</h4>
<p>
    In Blazor, you can add parameters to any component which are defined using non-public properties on the component class by decorating that property with [Parameter] attribute.
</p>