@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ques1</title>
</head>
<body>
    <div>
        <p>Q-1. What is MVC and Benefits of MVC </p>
        <img src="~/Image/MVC_Image2.png" /><br />

        <p>
            <strong>MVC</strong> stands for Model-View-Controller. It is an architecture or a software design pattern that makes creating huge applications easy.
            It does not belong to specific programming language or framework, but it is a concept that you can use in creating any kind of application or software in any programming language.
        </p>
        <p>Benefits of MVC architecture:</p>
        <ol>
            <li> 1.Development of the application becomes fast.</li>
            <li> 2.Easy for multiple developers to collaborate and work together.</li>
            <li> 3.Easier to Update the application.</li>
            <li> 4.Easier to Debug as we have multiple levels properly written in the application.</li>
        </ol>
        @Html.ActionLink("Home", "HomePage")
    </div>
</body>
</html>