
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<h3>---ASP.NET MVC Basics---</h3>
<h4>---Exercise Questions are on NavBar---</h4>

<img src="~/Image/image1.1.jpg" />

