
@{
    ViewBag.Title = "Ques4";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Question 04</h2>
<p>Explain Layout and how to set layout into view from Controller, View or globally</p>
<p>
    <strong>Layout : </strong>
    Layout is the Design of the page which we want to show to the user.
    We can set layout from the View as Layout = "~/Views/Shared/_MainLayout.cshtml";
    Or we can add it globally to all the views by adding it to the _viewstart.cshtml file.
</p>